/* ===== ШРИФТ ===== */
@font-face {
    font-family: 'UnifrakturCook';
    src: url('assets/fonts/UnifrakturCook-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ===== RESET + TELEGRAM SAFE ===== */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #000;
    color: #fff;

    /* Telegram Mini App best practice */
    overscroll-behavior: none;
    touch-action: none;
}

/* ===== CANVAS ===== */
canvas {
    display: block;
    width: 100%;
    height: 100%;

    image-rendering: auto;
}
